ul{
    background-image: linear-gradient(to right, black, white);
    text-align: left;
}
a{
    color: white;
    padding: 2em;
    text-decoration: none;
}
#ecommerceName{
    padding-left: 0;
    font-size: 1.75em;
}
#carrito{
    color: black;
}